PORT=5001
MONGO_URI=mongodb://localhost:27017/rental_platform
JWT_SECRET=secret
NODE_ENV=development

FRONTEND_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME=example
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz

# Admin 
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=demo@2026